.sidebar-container{
    background-image: linear-gradient(to right top, #d16ba5, #c777b9,
    #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4,
    #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    padding-top: 50px;
    padding-left: 10px;
    position: relative;
}
.sidebar-container h6{
    padding: 20px 0;
    color: #fff;
    padding-left: 20px;
}
.sidebar-container h6 .link{
    text-decoration: none;
    color: #fff;
    padding-left: 5px;
}
.sidebar-container h6 .link:hover{
    color: rgb(10, 4, 102);
    transition: 0.5s;
}
.sidebar-container .signOut-position{
    position: absolute;
    bottom: 5em;
}