.form-container{
    background-image: url('../../../images/appointmentBg.png');
    background-size: cover;
    position: relative;
    z-index: 1;
}
.form-container::before{
    background-color: #3A4256;
    position: absolute;
    content: ' ';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.8;
    z-index: -1;
}
.specific-btn{
    padding: 8px 40px !important;
}