.appointment-container{
    height: 420px;
    margin-top: 130px;
    background-image: url('../../../images/appointmentBg.png');
    position: relative;
    z-index: 1;
}
.appointment-container::before{
    position: absolute;
    content: ' ';
    background-color: #3F465A;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
}
.appointment-style .after{
    padding-right: 30px;
}
.appointment-style img{
    max-height: 550px;
    transform: translateY(-178px);
}

@media (max-width: 1200px){
    .appointment-style img{
        width: 100%;
        transform: translateY(-4px);
    }
}
@media (max-width: 768px){
    .appointment-container{
        height: 1000px;
    }
}
@media (max-width: 480px){
    .appointment-container{
        height: 850px;
    }
}